<div class="item">
    <div routerLink="/details/{{item.id}}">
        <img src="{{item.image}}" alt="">
        <div class="body">
            <h4>{{item.title}}</h4>
            <p>{{item.description}}</p>
        </div>
    </div>
    <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
        <button *ngIf="!addBtn" class="btn btn-success" (click)="addBtn = true">Add to Cart</button>
        <div class="d-flex w-50" *ngIf="addBtn"> 
            <input type="number" class="form-control" [(ngModel)]="quentity">
            <button class="btn btn-danger"  (click)="add()">Add</button>
        </div>
        <span>{{item.price}}l.E</span>
    </div>
</div>